.board-category {
  background-color: #fff;
  width: 73%;
  margin: 90px auto;
  border-radius: 5px;
  height: 100%;
  border: 2px solid #fff;
  z-index: 2;
}

.board-category .board-category-header {
  width: 100%;
  padding: 20px;
  color: #fff;
  font-size: 20px;
  height: 69px;
  background-color: #2c0581;
}

.item-1 {
  position: absolute;
  background-size: cover;
  width: 181px;
  height: 181px;
  left: -58.57px;
  top: 286.28px;
  background-image: url("item1.png");
  opacity: 0.5;
  transform: rotate(-7.89deg);
  z-index: -1;
}
.item-2 {
  position: absolute;
  background-size: cover;
  width: 266px;
  height: 266px;
  left: -44px;
  top: 774px;
  background-image: url("item2.png");
  opacity: 0.5;
  z-index: -1;
}

.item-3 {
  position: absolute;
  background-size: cover;
  width: 283px;
  height: 283px;
  right: 0px;
  top: 724px;
  background-image: url("item3.png");
  opacity: 0.5;
  z-index: -1;
}

.board-category .board-category-item {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 12px;
  gap: 12px;
  width: 138px;
  height: 160px;
  background: #ffffff;
  border: 0.5px solid #e5e5e5;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}

/* .item-1 {
  font-size: 100px;
  background-image: url("item1.png");
} */
