.warpper-home {
  margin-top: 90px;
}

.character-img {
  position: absolute;
  width: 400px;
  bottom: -90px;
}
.wine-glass-img {
  position: absolute;
  width: 300px;
  right: 1px;
  bottom: -90px;
}
