#form-file-upload {
  height: 12rem;
  /* width: 28rem; */
  max-width: 100%;
  text-align: center;
  position: relative;
}

#input-file-upload {
  display: none;
}

#label-file-upload {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: #212134;
  /* background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='15' ry='15' stroke='white' stroke-width='4' stroke-dasharray='10%2c20' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e"); */
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border: 2px dashed #32324d;
}

#label-file-upload.drag-active {
  background-color: #ffffff;
}

.upload-button {
  cursor: pointer;
  padding: 0.25rem;
  font-size: 1rem;
  border: none;
  font-family: "Oswald", sans-serif;
  background-color: transparent;
}

.upload-button:hover {
  text-decoration-line: underline;
}

#drag-file-element {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.result-img-div {
  margin-bottom: 40px;
}

.result-img-content {
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}

.result-img-content .img-wrap {
  width: 100%;
  height: 100%;
}

.img-wrap .result-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.result-img-div > p {
  margin-top: 12px;
  text-align: center;
  margin-bottom: 0;
  color: #fff;
}

.result-text-div {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.result-text-div h1 {
  font-size: 18px;
}

.white-border {
  display: inline-block;
  border: 1px solid white;
  width: 80%;
  margin: 0;
}

.result-box {
  margin-top: 30px;
  background-color: white;
  border-radius: 10px;
  height: 100%;
  padding: 10px;
}

.result-details {
  border-radius: 10px;
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='3' stroke-dasharray='20%2c20' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.left-image {
  display: inline-block;
  width: 20%;
  padding: 10px;
  /* border: 1px solid red; */
}

.right-text {
  display: inline-block;
  flex-grow: 1;
  width: 70%;
  /* border: 1px solid red; */
}

.img-result-left {
  object-fit: contain;
  width: 100%;
}

.description-text-right {
  padding-left: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #434343;
}

.btn-report {
  margin: 10px;
  border: none;
  outline: none;
  background-color: #fff;
  color: #3145f5;
  font-size: 17px;
  font-weight: 500;
}

.btn-report:hover {
  color: #0015d4;
}

/* box-report */

.box-report {
  margin-top: 20px;
}

.box-report > textarea {
  border-radius: 10px;
  padding: 12px;
  outline: none;
  color: #fff;
  background-color: #212134;
  margin-top: 12px;
  border-color: #32324d;
}

.box-input-report {
  width: 100%;
}

.white-border-report {
  display: inline-block;
  border: 1px solid white;
  width: 77%;
  margin-left: 15px;
}

/* form-report */
.form-report {
  display: none;
}

.form-report.open {
  display: block;
}

.form-report .btn-submit-report {
  border-radius: 8px;
  padding: 8px;
}

/* alert messgae */

.alert-message-success {
  padding: 20px;
  background-color: #04aa6d;
  color: white;
  display: none;
}

.alert-result-failed {
  padding: 20px;
  background-color: red;
  color: white;
  border-radius: 10px;
  /* display: none; */
}

.alert-message-failed {
  padding: 20px;
  background-color: red;
  color: white;
  display: none;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.information-related {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  height: 150px;
  width: 100%;
  border-radius: 10px;
}

.information-related .image-related {
  width: 100%;
  height: 100%;
}

.information-related .item-image {
  margin: 10px;
  border: 1px solid #000;
  border-radius: 10px;
  display: flex;
  padding: 10px;
  width: 100%;
}

.information-related .item-image:hover {
  scale: 1.02;
}
