
.upload-logo {
    height: 50%;
    padding: 30px;
}

.upload-img {
    display: block;
    max-width: 50%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.upload-text{
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.upload-text h2 {
    font-size: 18px;
    letter-spacing: 0.01rem;
    margin-bottom: 0;
}

.upload-place{
    margin-bottom: 40px;
}