.home {
    margin-top: 2%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.home-page {
    width: 65%;
    margin-left: auto !important;
    margin-right: auto !important;
}

.home-text {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 50%;
    text-align: center;
    color: white;
}

.home-text h1 {
    font-size: 32px;
    line-height: 22px;
    letter-spacing: 0.01rem;
    margin-top: 20px;
    margin-bottom: 0;
}

.object-img{
    display: block;
    max-width: 50% !important;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}
